<h1>Listings</h1>
    <% @listings.each do |listing| %>
        <div class="media">
          <div class="media-left">
            <% if listing.image? %>
              <%= image_tag listing.image.url(:thumb) %></td>
            <% else %>
              <% if listing.shape_id?%>
                <%= image_tag listing.shape.image.url(:thumb) %>
              <% end %>
            <% end %>
          </div>
          <div class="media-body">
            <%= link_to listing.name, listing, class: "btn btn-link", align: "left" %>
          </div>
          <div class="media-right">
            <%=number_to_currency(listing.price) %>
          </div>
        </div>
      <% end %>


