@import "bootstrap";

a{
    color:#333;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
margin-top: -22px;
}

.navbar-nav{
    margin-top:-5px;
    margin-right:0px;
}
.navbar-right{
    margin-right:0px;
    margin-top:-5px;
}

.navbar {
border-radius: 0px;
height:70px;
background-color:#F1F1F1;
border-color:#DDD;
}




.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
margin-left: 0px;
}


body{
    //background-color: #F4F4F4;
    color: #333333;
    font-family: 'Karla', sans-serif;
}


.navbar-header{
    margin-left:8px;
}

.brand{
    font-size:24px;
    margin-left:8px;
}

a.brand:hover, a.brand:focus {
color: #333;
text-decoration: none;
}


.navbar-toggle{
    margin-top:4px;
}




.navbar > .form-group > .form-control{
    border:none;
}


.alert {
    margin-top: 14px;
}


.footer{
    text-align: center;
    margin-top: 25px;
}

.input-group-addon:first-child{
    width: 100px;
}

h1{
    font-size: 26px;
    color:#3498DB;
}
h2{
    font-size: 20px;
    color:#333;
}

.col-md-3:nth-child(4n+1){
    clear: left;
}

.col-md-6:nth-child(7n+1){
    clear: left;
}



.navbar-nav > li > a {
line-height: 10px;
padding-top: 33px;
font-size:15px;
}

.navbar-nav > li > a:hover{
    color:#333;
}


.navbar-toggle {
border: 3px solid #3498DB;
background-color: #F1F1F1;
border-radius: 8px;
margin-top: 15px;
}


.navbar-toggle .icon-bar {
background-color: #3498DB;
}

.navbar-collapse {
padding-right: 0px;
}

.navbar-collapse > ul > li{
    background-color:#F1F1F1;
}

.btn-primary {
color: white;
background-color: #3498DB;
border-color: #3498DB;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
color: white;
background-color: #286090;
border-color: #286090;
}
